@model List<AvisFormation.Data.Formation>

@{
    ViewBag.Title = "Toutes Les Formations";
}

<h2>Liste Des Formations</h2>

@foreach (var form in Model)
{
    <hr />
    <div><span>Nom : </span><span>@form.Nom</span></div>
    <div><span>Description : </span><span>@form.Description</span></div>
    <div><span>Nom SEO : </span><span>@form.NomSeo</span></div>
    @Html.ActionLink("Details Formation", "DetailsFormation", "Formation",new { nomSeo=form.NomSeo},null);

}



