@model AvisFormation.WebUi.Models.AccueilViewModel
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron text-center">
    <h1>Avis Formation</h1>
    <p>Choisissez la meilleure formation !</p>
</div>

<div class="container text-center">
    @foreach(var dto in Model.ListFormations)
    {
        <article>
            @Html.ActionLink(dto.Formation.Nom,"DetailsFormation","Formation",new {nomSeo= dto.Formation.NomSeo },null)
            <div>@dto.Note</div>
            <div>@dto.Formation.Description</div>
        </article>
    }
</div>